body{
    background-color: black;
    color:aliceblue;
    font-family: Arial, sans-serif;
    margin-right: 25%;
    margin-left: 25%;
    padding: 0;
}
h1{
    color: white;
    text-align:center;
    margin:auto;
}

#cookiePopUp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height:fit-content;
    background-color: black; 
    border-color: white;
    border-style: solid;
    padding-top:9%;
    padding-bottom:9%;
    padding-left:10%;
    padding-right:10%;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1.5em;
    border-radius: 3%;
}

#yesButton{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size:1em;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(35%, 25%);
    width: fit-content;
    height:fit-content;
}

#noButton{
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size:1em;
    top: 50%;
    left: 50%;
    transform: translate(30%, 0%);
    width: fit-content;
    height:fit-content;
    transition:1s;
}

#noButton:hover{
    opacity:80%;
    transition:1s;
}

#noButton:active{
    opacity:70%;
    transition:1s;
}

