#cap2{
    border-style: solid;
    border-radius: 10px;
    text-align:center;
    background-color: rgb(155, 141, 141);
}
#captchaimg2{
    width:500px;
}
body{
    background-color:#f26419
}